<div class="bg-white faqb contact-banner htw">
    <div class="mt-0">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 text-center">
                    <h3>Personal Data Deletion</h3>

                </div>
            </div>
        </div>
    </div>

    <!--Section-->
    <section class="sptb pt-4 term_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
                    <div class="contentbx">
                        <h4 class="mb-3 mt-0">Personal Data Deletion</h4>
                        <p>As a part of GDPR compliance, NoOne 21 has personal data deletion.</p>
                        <p>This feature allows users to have all their identifiable data deleted once they stop using No One 21. This includes all information such as the user’s name, contact information, biography, location, connections, communication, and correspondence. </p>
                        <p>However, this does not include data that we as a business are required to maintain by law.</p>
                        <p>All user data is in this way randomized and anonymized. </p>
                    </div>  
                    <div class="contentbx">
                        <h4 class="mb-3 mt-6">Requesting Data Deletion</h4>
                       <p>Here is how users can request data deletion: </p>
                       <p>1. Go to the following URL: <a href="/request-to-delete-data" class="delperson">Request for delete personal data</a></p>
                       <p>2. Enter the email that has been used to create your No One 21 account and request data deletion. </p>
                       <p>3. We will send a verification email to the address provided and a message of ‘Verification Email Sent’ will be shown to you. </p>
                       <p>4. Open your email and click the verification link. </p>
                       <p>5. When the verification has taken place successfully you will see a message confirming that your data has been deleted. </p>
                    </div> 
                    
                    <div class="contentbx">
                        <h4 class="mb-3 mt-6">Automatic Data Deletion after Profile Deactivation</h4>
                       <p>Another way that leads to a user’s data being deleted is through profile deactivation. Here is how it works.  </p>
                      <p>1- Go to ‘Deactivate Account’ in Account Settings and click it. You will be shown a message saying that your data will be deleted permanently after 30 days of not logging in after deactivation. </p>
                      <p>2- If you wish to proceed, enter the email address associated with your No One 21 account in the given field and press deactivate. A deactivation link will be sent to that email address. </p>
                      <p>3- Open your email and click the link. Your account will be deactivated. </p>
                      <p>We keep data in our database for 30 days after account deactivation in case a user wishes to reactivate their account. After the 30 day period has passed, all identifiable data is permanently removed from our database. </p>
                    </div>
                    
                    

                </div>
            </div>
        </div>
    </section>
    <!--/Section-->

</div>
