<!-- <p>content-layout works! t</p> -->
<div class="header-main header-style1">
    <app-navbar></app-navbar>
    <app-header></app-header>
</div>

<section *ngIf="showBreadCrumb">
    <div class="bannerimg cover-image bg-background3" data-image-src="../assets/images/banners/banner2.jpg">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white">
                    <h1 class="">{{this.title}}</h1>
                    <ol class="breadcrumb text-center">
                        <breadcrumb #breadCrumb></breadcrumb>
                        <!-- <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active text-white" aria-current="page">Login</li> -->
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>

<app-footer></app-footer>