<section class="sptb forgetfrm signupfrm">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">

                <h3 class="text-center pb-0">Forgot Password</h3>
                <div class="single-page w-100 p-0">
                    <div class="wrapper wrapper2 p-0">
                        <form id="forgotpsd" class="card-body" [formGroup]="form">
                            <div class="mail frmbx">
                                <label>Email</label>
                                <input type="email" name="mail" formControlName="email" placeholder="Enter your email">
                               
                            </div>
                            <div class="submit">
                                <a class="btn btn-primary btn-block gradient" (click)="onSubmit()"><span>Send</span></a>
                            </div>
                            <div class="text-center text-dark mb-0">
                                Forget it, <a (click)="goBack()" href="javascript:void(0);" class="text-danger">send me back</a> to the sign
                                in.
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>