<section class="signupfrm allcat_sect">
    <div class="container customerpage">
        <div class="row">
            <div class="single-page">
                <div class="col-lg-12 col-xl-12 col-md-12 d-block mx-auto">
                    <div class="verfbex">
                    <h5> <strong>Hi,</strong> </h5>
                    <p>  We just need to verify your email address before you can access.</p>
                    <p>   Verify your email address</p>
                    <h5>  Thanks! </h5>
                    
                    <a class="btn btn-danger btn-block gradient" type="button" (click)="verifyAccount()"
                                href="javascript:void(0);"><span>Verify Your Account</span></a>                
             </div>
                    </div>
                </div>
         </div>
     </div>
</section>