
<style>
    .thankyoupg{
       text-align: center;
    }
</style>
<section class="successformcheck bg-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="successcont thankyoupg">
                <h4>You have signed up successfully | Email verification required!</h4>
                <p>We have sent you email. Check your inbox, click on verification link and verify your account</p>
                <p>If you do not receive a response within 24 hours, please feel free to contact us at<a href="mailto:support@noone21.com" class="text-danger"><u>support@noone21.com</u></a></p>
                <p><strong> NoOne 21</strong></p>
                </div>
            </div>
        </div>
    </div>

</section>