<div class="contact-banner faqb">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 text-center">
                <h3>Talent FAQs</h3>

            </div>
        </div>
    </div>
</div>

<!--Section-->
<section class="sptb pt-4 ">
    <div class="container">
        <div class="" id="accordion">
            <div class="accordion">
                <div class="accordion-header collapsed" data-toggle="collapse" data-target="#panel-body-1">
                    1.	Do I need to do anything after creating a profile to get registered?
                </div>
                <div class="accordion-body collapse  border border-top-0" id="panel-body-1"
                    data-parent="#accordion">
                    <p>To create a profile you will need to verify your email address. Once that is done, your profile will go live. There are no additional steps. </p>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header collapsed" data-toggle="collapse" data-target="#panel-body-2">
                    2.	Can I edit my profile once it has been created?
                </div>
                <div class="accordion-body collapse  border border-top-0" id="panel-body-2"
                    data-parent="#accordion">
                <p>Yes, you can edit it. You can add details about any additional experience you gain plus add and change other information. </p>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header collapsed" data-toggle="collapse" data-target="#panel-body-3">
                    3.	What can I do to improve my profile?
                </div>
                <div class="accordion-body collapse  border border-top-0" id="panel-body-3"
                    data-parent="#accordion">
                <p>Make sure that your profile is complete and includes updated information. If a profile looks like it was made months ago and the user isn’t active anymore, employers will be less likely to engage with it. Including a high quality profile picture and additional images from the jobs you’ve done is also recommended.</p>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header collapsed" data-toggle="collapse" data-target="#panel-body-4">
                    4.	Can I check what employers see when they visit my profile?
                </div>
                <div class="accordion-body collapse  border border-top-0" id="panel-body-4"
                    data-parent="#accordion">
                <p>Yes, you can view your profile as it will be viewed by an employer or any other visitor of the website. </p>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header collapsed" data-toggle="collapse" data-target="#panel-body-5">
                    5.	How can I find out about new jobs?
                </div>
                <div class="accordion-body collapse  border border-top-0" id="panel-body-5"
                    data-parent="#accordion">
                <p>You can access the lead board to find out about new jobs that have been posted. You can also look for jobs through the search bar and find all the jobs in your defined category. </p>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header collapsed" data-toggle="collapse" data-target="#panel-body-6">
                    6.	Can I contact other talent?
                </div>
                <div class="accordion-body collapse  border border-top-0" id="panel-body-6"
                    data-parent="#accordion">
                <p>Yes, you can message other talent. </p>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header collapsed" data-toggle="collapse" data-target="#panel-body-7">
                    7.	What are the benefits of joining NoOne 21?
                </div>
                <div class="accordion-body collapse  border border-top-0" id="panel-body-7"
                    data-parent="#accordion">
                <p>NoOne 21 eliminates the need for an agent. You can talk to employers directly and represent yourself in a way that you see fit. </p>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header collapsed" data-toggle="collapse" data-target="#panel-body-8">
                    8.	How will employers be able to find me?
                </div>
                <div class="accordion-body collapse  border border-top-0" id="panel-body-8"
                    data-parent="#accordion">
                <p>On your profile you will be asked to specify what kind of work you are looking for. That information will allow employers to find you. You can also respond to job postings and reach out to employers. That way you can get their attention and if your profile appeals to them they will contact you. </p>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header collapsed" data-toggle="collapse" data-target="#panel-body-9">
                    9.	Can I add my portfolio in my profile?
                </div>
                <div class="accordion-body collapse  border border-top-0" id="panel-body-9"
                    data-parent="#accordion">
                <p>Yes, and you should if you want to increase your chances of booking a job. Show the employers what you can do so they know what to expect.  </p>
                </div>
            </div>
            <div class="accordion mb-0">
                <div class="accordion-header collapsed" data-toggle="collapse" data-target="#panel-body-10">
                    10.	Can I look for jobs specifically in my area?
                </div>
                <div class="accordion-body collapse  border border-top-0" id="panel-body-10"
                    data-parent="#accordion">
                <p>Yes, you can look up jobs in your area.   </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Section-->

<div class="pt-0 mt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 text-center">
                <h3>Employer FAQs</h3>

            </div>
        </div>
    </div>
</div>

<!--Section-->
<section class="sptb pt-4 ">
    <div class="container">
        <div class="" id="accordion1">
            <div class="accordion">
                <div class="accordion-header collapsed" data-toggle="collapse" data-target="#panel-body-11">
                    1.	How do I post a job?
                </div>
                <div class="accordion-body collapse  border border-top-0" id="panel-body-11"
                    data-parent="#accordion1">
                    <p>You will need to fill out a basic form with the relevant information so that interested individuals can respond to it, and publish your post.  </p>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header collapsed" data-toggle="collapse" data-target="#panel-body-12">
                    2.	What kind of jobs can I post on NoOne 21?
                </div>
                <div class="accordion-body collapse  border border-top-0" id="panel-body-12"
                    data-parent="#accordion1">
                <p>You can post any media related job on NoOne 21. From a call for auditions to finding a music producer and everything in between, anything can be posted on this platform as long as it is ethical and legitimate work. </p>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header collapsed" data-toggle="collapse" data-target="#panel-body-13">
                    3.	Will I have to contact talent personally or can communication take place on the website?
                </div>
                <div class="accordion-body collapse  border border-top-0" id="panel-body-13"
                    data-parent="#accordion1">
                <p>You can approach talent directly on the website, message them and communicate. When you post a job offering you will also get offers so you can respond to them on the website and communicate that way too. </p>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header collapsed" data-toggle="collapse" data-target="#panel-body-14">
                    4.	How can I get more offers for my job?
                </div>
                <div class="accordion-body collapse  border border-top-0" id="panel-body-14"
                    data-parent="#accordion1">
                <p>Firstly, making a job post clear and detailed is likely to generate interest among relevant talent. In addition to optimizing your job post you can also promote it on social media. That way you will be able to further increase your outreach.  </p>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header collapsed" data-toggle="collapse" data-target="#panel-body-15">
                    5.	How do I know people can see my posting?
                </div>
                <div class="accordion-body collapse  border border-top-0" id="panel-body-15"
                    data-parent="#accordion1">
                <p>Check if you have made your job post public you can rest assured that people can see it. Soon after posting it, you will start getting offers. This is confirmation that people are seeing and responding to the job. If you are not receiving offers and doubt that your post might not have gone public, you can speak to our support team and discuss it with them.  </p>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header collapsed" data-toggle="collapse" data-target="#panel-body-16">
                    6.	Can I hire a complete crew?
                </div>
                <div class="accordion-body collapse  border border-top-0" id="panel-body-16"
                    data-parent="#accordion1">
                <p>Yes, you can hire a complete crew. Just detail your requirements in the job post.. </p>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header collapsed" data-toggle="collapse" data-target="#panel-body-17">
                    7.	How can I choose the right talent for my project?
                </div>
                <div class="accordion-body collapse  border border-top-0" id="panel-body-17"
                    data-parent="#accordion1">
                <p>Once you have received some offers, speak to all the candidates who you think might be right for the job and take a closer look at their portfolios. It should give you a good idea about who is a good match.  </p>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header collapsed" data-toggle="collapse" data-target="#panel-body-18">
                    8.	Can I post an area specific job?
                </div>
                <div class="accordion-body collapse  border border-top-0" id="panel-body-18"
                    data-parent="#accordion1">
                <p>Yes, you can. You can specify the area the job is based in so that only people in that area apply. Or you can also list this preference in the job detail.  </p>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header collapsed" data-toggle="collapse" data-target="#panel-body-19">
                    9.	Can I post multiple jobs?
                </div>
                <div class="accordion-body collapse  border border-top-0" id="panel-body-19"
                    data-parent="#accordion1">
                <p>Yes, you can post multiple jobs at once.  </p>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header collapsed" data-toggle="collapse" data-target="#panel-body-20">
                    10.	Can I ask the talent for more information than is visible on their profile?
                </div>
                <div class="accordion-body collapse  border border-top-0" id="panel-body-20"
                    data-parent="#accordion1">
                <p>Yes, you can ask them to provide you with an image if their profile doesn’t contain one and also ask for other information that is relevant to the job.  </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Section-->
