<section class="drinkinstr bg-white pt70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12 col-sm-12 col-12 pr-8">
                <div class="drinkleft">
                    <h3>Drink Water before Meals </h3>
                    <p>The optimum time to drink water is roughly half an hour before meals. It
                    leads to faster metabolism and consequently more calorie burn.</p>


                    <p>Faster metabolism means that the calories you consume are burnt off
                    quicker at rest as well as during activity. So, if you are looking to lose
                    some weight, a healthy way to achieve that is to try and boost your
                    metabolism naturally.</p>


                    
                        <img src="../assets/images/drinkwater2.png" class="img-fluid" alt="">
                

                    <p>Additionally, drinking around 8.5 glasses of water in a day overall can 
                    lead to 24 – 30% increase in metabolism.  </p>


                    <p>In terms of calories, a 24 – 30% metabolism increase means that you 
                    burn around 96 calories by regulating your water intake alone.</p>  


                    <p>Since our body needs water anyway to stay healthy, even if 
                    metabolism isn’t affected greatly you will nevertheless see 
                    improvements in general health. It is also great for skin.</p>  



                </div>
                <div class="hbtns">
                    <a href="#" class="btn-gr">Back to Tips</a>
                    <a href="#" class="btn-danger">Find Service Provider</a>
                </div>
            </div>
            
        </div>
    </div>
</section>