<div class="bg-white discb faqb">
    <div class="contact-banner mt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 text-center">
                <h3>Disclaimer</h3>

            </div>
        </div>
    </div>
</div>

<!--Section-->
<section class="sptb pt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
                <p class="mb-0">We are not responsible for any issues or disputes related to payment, refunds, customer service, or quality of service. Both vendors and sellers are advised to communicate with each other clearly and conduct all transactions and communication with due diligence. We cannot intervene on behalf of either party to resolve a dispute nor do we accept responsibility for any such occurrence. This platform is meant to serve only as a place for media professionals and buyers to connect with each other. The quality of service is an independent matter concerning only the vendor.  By continuing to use this platform to hire or sell services, users take responsibility for their choice of engaging with a third party and all that may result from it. 
                </p>
            </div>
        </div>
    </div>
</section>
<!--/Section-->
</div>