// agm-map {
//   height: 800px;
// }


* {
  font-family: Lato;
}

a {
  color: darkblue;
}

.pl-m{
    padding-left: 15px;
}
.pr-m {
    padding-right: 15px;
}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

.d_name{
font-size: 16px;
font-weight: 700;
}
.cursor-pointer{
  cursor: pointer;
}
