<div class="bg-white faqb contact-banner htw">
    <div class="mt-0">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 text-center">
                    <h3>Privacy Policy</h3>

                </div>
            </div>
        </div>
    </div>

    <!--Section-->
    <section class="sptb pt-4 term_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
                    <div class="contentbx">
                        <h4 class="mb-3 mt-0">Privacy Policy</h4>
                        <p>On this page a complete overview of our Privacy Policy is provided for the users’ information. By agreeing to use the platform, you agree to the usage of information provided by you in the ways outlined below. </p>
                    </div>
                    <div class="contentbx">
                        <h4 class="mb-3 mt-6">Information Collection</h4>

                        <p>For efficient working of the website and for users to be able to connect with each other effectively, NoOne 21 may collect information that can be used to identify an individual such as the user’s name, area of residence, occupation, work experience/place of work etc. When a user chooses to make their profile public this information will be made available to all other regular users and visitors of the platform. </p>
                        <p>We may also collect information for verification purposes such as your date of birth or a government issued identification number. This information is collected to prevent the use of NoOne 21 for fraud or any activity of a malicious nature. </p>
                        <p>NoOne 21 is for the use of individuals above 18 years of age. We will intentionally or knowingly never collect information from anyone below the age of 18. </p>

                    </div>
                    <div class="contentbx">
                        <h4 class="mb-3 mt-6">Social Login</h4>

                      <p>If a user signs up to the platform using their Google or Facebook Account, we will receive information that they have made public on that social account account. This information may include the user’s name, profile picture, email address, gender, location, birthday, interests, affinity networks, and information regarding their contacts and friends such as their names and profile pictures. Any other information that has been shared publicly on the connected profile might also be made available to us. </p>
                      <p>When a user signs up with a social account, we may receive additional information that was not directly provided by the user to us in a form on our website. By choosing to use social login, users agree to this transfer of information. </p>

                    </div>
                    <div class="contentbx">
                        <h4 class="mb-3 mt-6">Automatic Information Collection</h4>

                        <p>In order to improve our services we use technologies, widely used by most websites, that collect and provide us information by way of offering insights about our user demographic. This information is provided without any participation of the user, outside of allowing cookies when prompted. This is analytical data and not used to identify any individual users. The purpose is to understand our audience and users better so we can optimize the platform and improve user experience. </p>
                    </div>
                    <div class="contentbx">
                        <h4 class="mb-3 mt-6">Use of Cookies </h4>

                        <p>A cookie is a file that is saved on to the hard drive of a user’s computer for the purpose of collecting information. There are two types of cookies that are used by most platforms at the moment and which we use too. There are persistent cookies that have a longer life and these are used for the purpose of saving your password and username as well as to keep track of whether a user is continuing to comply with the platform policies. The second type is the session ID cookie which is only valid and in use during a session. As soon as a session expires, the cookie expires too. This type of cookie is used to collect information about a user’s activities and interaction with the website during a session. This data pertais to the user’s interaction with the website only, is statistical in nature and derived from the server web logs.  </p>
                        <p>The purpose behind data collection is to improve user experience and optimize it for their
                            future visits.Data collected through cookies is not of the nature that can be used to
                            identify visitors of the website.</p>
                        <p>Data collected may include date and time of a user’s visit, IP address, browser version, and
                            the operating system on the device they’re using. </p>
                        <p>We are committed to making NoOne 21 a safe place for all its users. </p>
                        <p>User information is only used for marketing and platform optimization purposes. Only the data
                            that a user agrees to make public on their profile is made visible to other visitors. </p>
                        <p>By agreeing to use this platform, the user is agreeing to the use of cookies. If cookie usage
                            is denied, it may restrict the user’s access to a limited portion of the website. </p>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--/Section-->

</div>