	<!--Section-->
	<section class="sptb abpad">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-12">
					<div class="textsect">
						<h2 class="mb-4">Find work and hire talent. Team up with professionals from the media industry. </h2>
						<p>NoOne21 allows creatives to come together and deliver the best work they can. Writers, directors, editors, actors, camera crew can all find each other on this platform and get together to make the best kind of art!</p>
						<p>It offers a quick and efficient way to find and hire the best kind of talent the media industry has to offer. With a sophisticated search system you can find professionals whose skills and profile perfectly fit your criteria.</p>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-12">
					<div class="aboutvid">
						<img src="../assets/images/howitimg.jpg" class="img-fluid" alt="">
						<div class="ovrlay">
							<a href="javascript:void(0)" (click)="openModal(template)"><img src="../assets/images/video_icon.png"
									class="img-fluid" alt=""></a>
						</div>



					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/Section-->


	<section class="doc_section section-bg spec_sec">
		<div class="doc_tabs">
			<div class="container">
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12">

						<ul class="nav">
							<li class=""><a href="#tab-1" class="active" data-toggle="tab"><strong>Buyer</strong></a>
							</li>
							<li><a href="#tab-2" data-toggle="tab"><strong>Talent</strong></a></li>

						</ul>

					</div>
				</div>
			</div>
		</div>
		<div class="tab-content">
			<div class="tab-pane active" id="tab-1">
				<div class="doc_content">
					<div class="container">
						<div class="row ptb border-bottom">
							<div class="col-xl-6 col-lg-6 col-md-6 order-md-1 order-sm-2 order-last">
								<div class="cont_left">
									<h2>Book the best<br>
										kind of talent! </h2>
									<ul>
										<li>Find and connect with multiple professionals</li>
										<li>Make sure they understand your vision</li>
										<li>Look at their portfolio and make an informed decision</li>
									</ul>
									<a href="/pages/vendor-register" class="btn btn-danger gradient mt-6 mb-4"><span>Get Started</span></a>

								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6  order-md-2 order-sm-1 order-first">
								<div class="cont_right">
									<img src="../assets/images/Buyer-image1.jpg" class="img-fluid" alt="">
								</div>
							</div>
						</div>
						<div class="row ptb">

							<div class="col-xl-6 col-lg-6 col-md-6">
								<div class="cont_right">
									<img src="../assets/images/Buyer-image2.jpg" class="img-fluid" alt="">
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6">
								<div class="cont_left">
									<h2>Eliminate<br>
										the middle man </h2>
									<ul>
										<li>You don’t need to rely on agencies to hire talent</li>
										<li>This means less cost of hiring too </li>
										<li>Find the talent that YOU think is best for your work </li>
									</ul>
									<a href="/pages/vendor-register" class="btn btn-danger gradient mt-6  mb-4"><span>Post A Job</span></a>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="tab-2">
				<div class="doc_content">
					<div class="container">
						<div class="row ptb border-bottom">
							<div class="col-xl-6 col-lg-6 col-md-6 order-md-1 order-sm-2 order-last">
								<div class="cont_left">
									<h2>Find work that <br>
										you want to do </h2>
									<ul>
										<li>You don’t have to rely on open calls anymore</li>
										<li>Reach out to producers and project managers </li>
										<li>Show them what you can do </li>
									</ul>
									<a href="/pages/all-categories" class="btn btn-danger gradient mt-6 mb-4"><span>Get Started</span></a>

								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6  order-md-2 order-sm-1 order-first">
								<div class="cont_right">
									<img src="../assets/images/talent-image1.jpg" class="img-fluid" alt="">
								</div>
							</div>
						</div>
						<div class="row ptb">

							<div class="col-xl-6 col-lg-6 col-md-6">
								<div class="cont_right">
									<img src="../assets/images/talent-image2.jpg" class="img-fluid" alt="">
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6">
								<div class="cont_left">
									<h2>No need to  <br>
										rely on talent agencies </h2>
									<ul>
										<li>You no longer need to wait to get signed by an agency</li>
										<li>You can find work yourself!</li>
										<li>Pursue your goals and make it happen!</li>
									</ul>
									<a href="/pages/vendor-register" class="btn btn-danger gradient mt-6  mb-4"><span>Sign Up</span></a>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



<!--Section-->
<section class="sptb bgblues hitb hmb ">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>How it works</h2>
            <p>Here is how you can find the right talent</p>
        </div>
        <div class="row ">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="">
                    <div class="mb-lg-0 mb-4">
                        <div class="service-card text-center">
                            <div class="icon-bg box-shadow icon-service text-danger about bg-white">
                                <img src="../assets/images/Make-a-search.png" class="img-fluid" alt="">
                            </div>
                            <div class="servic-data mt-3">
                                <h4 class="font-weight-semibold mb-2">Make a search</h4>
                                <p class="text-muted mb-0">Look for gigs in your category. You can limit your searches to your area if you want. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="">
                    <div class="mb-sm-0 mb-4">
                        <div class="service-card text-center">
                            <div class="icon-bg box-shadow icon-service text-danger about bg-white">
                                <img src="../assets/images/Explore-Options.png" class="img-fluid" alt="">
                            </div>
                            <div class="servic-data mt-3">
                                <h4 class="font-weight-semibold mb-2">Explore options</h4>
                                <p class="text-muted mb-0">Take a look at what’s available and shortlist the gigs you want to apply for. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="">
                    <div class="mb-sm-0 mb-4">
                        <div class="service-card text-center">
                            <div class="icon-bg box-shadow icon-service text-danger about bg-white">
                                <img src="../assets/images/Connect-with-freelancers.png" class="img-fluid" alt="">
                            </div>
                            <div class="servic-data mt-3">
                                <h4 class="font-weight-semibold mb-2">Speak to buyer</h4>
                                <p class="text-muted mb-0">Respond to job posts and speak to the buyers to see if the gig is a good fit for you.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="">

                    <div class="service-card text-center">
                        <div class="icon-bg box-shadow icon-service text-danger about bg-white">
                            <img src="../assets/images/Get-to-work!.png" class="img-fluid" alt="">
                        </div>
                        <div class="servic-data mt-3">
                            <h4 class="font-weight-semibold mb-2">Get to work</h4>
                            <p class="text-muted mb-0">Once you’ve found the perfect gig there’s nothing left to do except getting to work! </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--/Section-->
    

    <!-- Message Modal -->
	<ng-template #template>
		<div class="modal-content">
			<div id="yvideo">
			<div class="modal-body">
				<div class="yvideobox">
					<button type="button" class="close" (click)="modalRef.hide()">
						<span aria-hidden="true">&times;</span>
					</button>
					<iframe id="intro_vids" width="100%" height="409" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		</div>
	</ng-template>
	
		
	
	<!-- /Message Modal -->