	<!--Section-->
	<section class="sptb abpad abtsec pb-0">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-12">
					<div class="textsect">
						<h2>A platform that allows employers to hire media industry talent & professionals without the help of an agent</h2>

					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-12">
					<div class="aboutvid">
						<img src="../assets/images/phone_img.png" class="img-fluid" alt="">

					


					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/Section-->

	<!-- What we do -->

	<section class="whatwedo bg-white">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-xl-12 col-md-12">
					<h3 class="mb-2">What we do</h3>
					<p>NoOne 21 is a marketplace for professionals from the media industry to find each other. Talent as well as crew members can be hired straight from this platform. This way we provide an opportunity to media professionals to find work and gain the exposure they need in the industry. </p>
				</div>
			</div>
		</div>
	</section>

	<!-- What we do -->

	<section class="whatweoffer">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-xl-12 col-md-12">
					<h3 class="mb-2">What we offer</h3>
					<p>We offer talent and industry professionals the chance to get hired and engage with the media industry without the help of an agent. NoOne 21 plays the part of the middle man and offers employers and professionals access to each other. </p>
				</div>
			</div>
		</div>
	</section>

	<!--Section-->
	<section class="sptb bg-white featureblk">
		<div class="container">

			<div class="row ">
				<div class="col-lg-4 col-md-6 col-sm-12">
					
						<div class="mb-lg-0 mb-4">
							<div class="service-card text-center border-red">
								<div class="icon-bg box-shadow icon-service text-danger about bg-white">
									<img src="../assets/images/Connect-with-freelancers.png" class="img-fluid" alt="">
								</div>
								<div class="servic-data mt-3">
									<h4 class="font-weight-semibold mb-2">Direct Access</h4>
									<p class="text-muted mb-0">Employers and talent both get the chance to connect with each other directly and team up for exciting projects. </p>
								</div>
							</div>
						</div>
					
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					
						<div class="mb-lg-0 mb-4">
							<div class="service-card text-center border-red">
								<div class="icon-bg box-shadow icon-service text-danger about bg-white">
									<img src="../assets/images/Explore-Options.png" class="img-fluid" alt="">
								</div>
								<div class="servic-data mt-3">
									<h4 class="font-weight-semibold mb-2">Variety of Options</h4>
									<p class="text-muted mb-0">With an abundance of professionals all in one place, everyone gets plenty of choices to find great partners.</p>
								</div>
							</div>
						
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					
						<div class="mb-sm-0 mb-4">
							<div class="service-card text-center border-red">
								<div class="icon-bg box-shadow icon-service text-danger about bg-white">
									<img src="../assets/images/Make-a-search.png" class="img-fluid" alt="">
								</div>
								<div class="servic-data mt-3">
									<h4 class="font-weight-semibold mb-2">Exposure</h4>
									<p class="text-muted mb-0">Hiring an agent is not easy. With NoOne 21, professionals get the exposure they need without anyone’s help.</p>
								</div>
							</div>
						
					</div>
				</div>

			</div>
		</div>
	</section>
	<!--/Section-->


	<div class="doc_content bg-white ourteam">
		<div class="container">
			<div class="row ptb border-bottom">
				
				<div class="col-xl-6 col-lg-6 col-md-12 order-md-2 order-sm-2 order-first">
					<div class="cont_right">
						<img src="../assets/images/about-image.jpg" class="img-fluid" alt="">
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-12 order-md-1 order-sm-1 order-last">
					<div class="cont_left">
						<h2 class="mb-5">Our Mission </h2>
						
							<p>NoOne 21 aims to offer solutions to age-old issue of accessibility and exposure in the media industry taking complete advantage of digital tools. We believe in evolving systems and processes to increase efficiency, productivity and to allow creatives to earn from their talents. </p>
						<a href="/pages/vendor-register" class="btn btn-danger gradient mt-4 mb-4"><span>Sign Up</span></a>

					</div>
				</div>
				
			</div>

		</div>
	</div>