<!-- <div class="card mb-0">
    <div class="card-header">
        <h3 class="card-title">Edit Profile</h3>
    </div>
    <div class="card-body">
        <form class="form" [formGroup]="form" novalidate>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label">First Name <sup>*</sup></label>
                        <input type="text" class="form-control" placeholder="First Name" formControlName="first_name">
                        <small class="form-text text-danger"
                            *ngIf="!form.get('first_name').valid && (form.get('first_name').dirty || form.get('first_name').touched)">Please
                            enter first name!</small>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Last Name <sup>*</sup></label>
                        <input type="text" class="form-control" placeholder="Last Name" formControlName="last_name">
                        <small class="form-text text-danger"
                            *ngIf="!form.get('last_name').valid && (form.get('last_name').dirty || form.get('last_name').touched)">Please
                            enter last name!</small>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Email address <sup>*</sup></label>
                        <input type="email" class="form-control" placeholder="Email" formControlName="email">
                        <small class="form-text text-danger"
                            *ngIf="!form.get('email').valid && (form.get('email').dirty || form.get('email').touched)">Please
                            enter email!</small>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Phone Number <sup>*</sup></label>
                        <input type="tel" mask='000-000-0000' class="form-control" placeholder="Number"
                            formControlName="phone_no">
                        <small class="form-text text-danger"
                            *ngIf="!form.get('phone_no').valid && (form.get('phone_no').dirty || form.get('phone_no').touched)">Please
                            enter phone no.!</small>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label">Address<sup>*</sup><a class="map_icon_rk_a"
                                (click)="setLocationOnMap()">Find My
                                Location<i class="fa fa-map-marker map_icon_rk_i " aria-hidden="true"></i></a></label>
                        <input type="text" class="form-control" placeholder="Address" formControlName="address" #search>
                        <small class="form-text text-danger"
                            *ngIf="!form.get('address').valid && (form.get('address').dirty || form.get('address').touched)">Please
                            enter address!</small>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label class="form-label">City<sup>*</sup></label>
                        <input type="text" class="form-control" placeholder="City" formControlName="city">
                        <small class="form-text text-danger"
                            *ngIf="!form.get('city').valid && (form.get('city').dirty || form.get('city').touched)">Please
                            enter name!</small>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label class="form-label">Postal Code<sup>*</sup></label>
                        <input type="text" class="form-control" placeholder="ZIP Code" formControlName="zip">
                        <small class="form-text text-danger"
                            *ngIf="!form.get('zip').valid && (form.get('zip').dirty || form.get('zip').touched)">Please
                            enter zip!</small>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="form-label">Country<sup>*</sup></label>
                        <ng-select [items]="countries" bindLabel="country" bindValue="country" [multiple]="false"
                            placeholder="--Select--" formControlName="country">
                        </ng-select>
                        <small class="form-text text-danger"
                            *ngIf="!form.get('country').valid && (form.get('country').dirty || form.get('country').touched)">Please
                            enter country!</small>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Latitude <sup>*</sup></label>
                        <input type="number" class="form-control" placeholder="Latitude" formControlName="lat" disabled>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Longitude<sup>*</sup></label>
                        <input type="number" class="form-control" placeholder="Longitude" formControlName="lng"
                            disabled>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Facebook</label>
                        <input type="text" class="form-control" placeholder="https://www.facebook.com/"
                            formControlName="facebook_link">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Google</label>
                        <input type="text" class="form-control" placeholder="https://www.google.com/"
                            formControlName="google_link">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Twitter</label>
                        <input type="text" class="form-control" placeholder="https://twitter.com/"
                            formControlName="twitter_link">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Pinterest</label>
                        <input type="text" class="form-control" placeholder="https://in.pinterest.com/"
                            formControlName="pinterest_link">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label">About Me</label>
                        <textarea rows="5" class="form-control" placeholder="Enter About your description"
                            formControlName="about_me"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mb-0">
                        <label class="form-label">Upload Image</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="example-file-input-custom"
                                (change)="fileChangeEventProfile($event)">
                            <label class="custom-file-label">Choose file</label>
                        </div>
                    </div>
                </div>
                <div class="image_upload border">
                    <div *ngIf="singleUserObject && singleUserObject.profile_media && singleUserObject.profile_media.base_path"
                        class="upload-images d-flex">
                        <div>
                            <img src="{{singleUserObject.profile_media.base_path+'/'+ singleUserObject.profile_media.system_name}}"
                                alt="img" class="w73 h73 border p-0">
                        </div>
                        <div class="ml-3 mt-2">
                            <h6 class="mb-0 mt-3 font-weight-bold">
                                {{singleUserObject.profile_media.real_name}}</h6>
                        </div>
                        <div class="float-right ml-auto">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button type="button" [disabled]="!form.valid || disableButton" (click)="onSubmit()"
            class="btn btn-secondary">Updated Profile</button>
    </div>
</div> -->



<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <label for="fname">First Name<sup>*</sup></label>
            <input type="text" class="form-control" placeholder="First Name" formControlName="first_name">
            <small class="form-text text-danger"
                *ngIf="!form.get('first_name').valid && (form.get('first_name').dirty || form.get('first_name').touched)">Please
                enter first name!</small>
        </div>
        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <label for="lname">Last Name<sup>*</sup></label>
            <input type="text" class="form-control" placeholder="Last Name" formControlName="last_name">
            <small class="form-text text-danger"
                *ngIf="!form.get('last_name').valid && (form.get('last_name').dirty || form.get('last_name').touched)">Please
                enter last name!</small>
        </div>
        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <label for="email">Email<sup>*</sup></label>
            <input type="text" class="form-control" placeholder="Email" formControlName="email">
            <small class="form-text text-danger"
                *ngIf="!form.get('email').valid && (form.get('email').dirty || form.get('email').touched)">Please
                enter email!</small>
        </div>
        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <label for="phone">Phone Number<sup>*</sup></label>
            <input type="tel" class="form-control" mask='000-000-0000' placeholder="Phone Number" formControlName="phone_no">
            <small class="form-text text-danger"
                *ngIf="!form.get('phone_no').valid && (form.get('phone_no').dirty || form.get('phone_no').touched)">Please
                enter phone no.!</small>
        </div>
        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <label for="address">Address<sup>*</sup> <a class="map_icon_rk_a" (click)="setLocationOnMap()">Find My
                    Location<i class="fa fa-map-marker map_icon_rk_i " aria-hidden="true"></i></a></label>
            <input #search type="text" class="form-control" placeholder="Location" formControlName="address">
            <small class="form-text text-danger"
                *ngIf="!form.get('address').valid && (form.get('address').dirty || form.get('address').touched)">Please
                enter address!</small>
        </div>
        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <label for="city">City<sup>*</sup></label>
            <input type="tel" class="form-control" placeholder="City" formControlName="state">
            <small class="form-text text-danger"
                *ngIf="!form.get('city').valid && (form.get('city').dirty || form.get('city').touched)">Please
                enter name!</small>
        </div>
        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <label for="state">State<sup>*</sup></label>
            <input type="text" class="form-control" placeholder="State" formControlName="state">
            <small class="form-text text-danger"
                *ngIf="!form.get('state').valid && (form.get('state').dirty || form.get('state').touched)">Please
                enter address!</small>
        </div>
        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0">
           <span> <input type="submit" class="btn btn-danger pull-right gradient" value="SAVE CHANGES"></span>
        </div>
    </div>
</form>
<app-map-modal #mapModal (onDoneEvent)="onDoneEvent($event)"></app-map-modal>