<div class="card mb-5">
    <div class="card-header">
        <h3 class="card-title">Dashboard</h3>
    </div>
    <div class="card-body">
        <div class="notifybox">
            <h4>Notification</h4>
            <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem
                quis bibendum auctor, nisi elit
                consequat ipsum, nec sagittis sem nibh id elit. <a href="javascript:void(0);">Duis sed</a> </p>
        </div>
    </div>
</div>


<div class="card mb-0">
    <div class="card-header">
        <h3 class="card-title">Recent Gigs</h3>
    </div>
    <div class="card-body pt-0">
        <div class="icard-gig">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xl-4 mt-5">
                    <div class="card overflow-hidden mb-0">
                        <div class="item-card9-img">
                            <div class="item-card9-imgs">
                                <a href="javascript:void(0);"></a>
                                <img alt="img" class="cover-image" src="../assets/images/media/fitness-center/1.jpg">
                            </div>


                        </div>
                        <div class="card-body">
                            <div class="item-card9">
                                <a class="text-dark mt-2" href="javascript:void(0);">
                                    <h4 class="font-weight-bold mb-1">Clinic Name<i
                                            class="ion-checkmark-circled  text-success fs-14 ml-1"></i>
                                    </h4>
                                </a>
                                <span class="text-muted fs-13 mt-2"><i class="fa fa-location-arrow text-muted mr-2"></i>
                                    14
                                    Hartford St, USA</span>
                                <div class="mt-2 mb-0">
                                    <ul class="item-card-features mb-0">
                                        <li><span class="">California</span></li>
                                        <li><span>20 Specialities</span></li>
                                        <li><span> 30 Docors</span></li>
                                        <li><span class="">8 am - 9 am</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer p-0 btn-appointment">
                            <div class="btn-group w-100">
                                <a class="w-50 btn btn-outline-light p-2 border-top-0 border-bottom-0 border-left-0 border-right-0"
                                    href="javascript:void(0);"><i class="fe fe-user mr-1"></i> Profile</a>
                                <a
                                    class="w-50 btn btn-outline-light p-2 border-top-0 border-bottom-0 border-right-0 call-btn">
                                    <div class="call-btn-1">
                                        <i class="fe fe-phone mr-1"></i> Call
                                    </div>
                                    <div class="call-number">
                                        +65 847596 82
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-xl-4 mt-5">
                    <div class="card overflow-hidden  mb-0">
                        <div class="item-card9-img">
                            <div class="item-card9-imgs">
                                <a href="javascript:void(0);"></a>
                                <img alt="img" class="cover-image" src="../assets/images/media/fitness-center/1.jpg">
                            </div>


                        </div>
                        <div class="card-body">
                            <div class="item-card9">
                                <a class="text-dark mt-2" href="javascript:void(0);">
                                    <h4 class="font-weight-bold mb-1">Clinic Name<i
                                            class="ion-checkmark-circled  text-success fs-14 ml-1"></i>
                                    </h4>
                                </a>
                                <span class="text-muted fs-13 mt-2"><i class="fa fa-location-arrow text-muted mr-2"></i>
                                    14
                                    Hartford St, USA</span>
                                <div class="mt-2 mb-0">
                                    <ul class="item-card-features mb-0">
                                        <li><span class="">California</span></li>
                                        <li><span>20 Specialities</span></li>
                                        <li><span> 30 Docors</span></li>
                                        <li><span class="">8 am - 9 am</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer p-0 btn-appointment">
                            <div class="btn-group w-100">
                                <a class="w-50 btn btn-outline-light p-2 border-top-0 border-bottom-0 border-left-0 border-right-0"
                                    href="javascript:void(0);"><i class="fe fe-user mr-1"></i> Profile</a>
                                <a
                                    class="w-50 btn btn-outline-light p-2 border-top-0 border-bottom-0 border-right-0 call-btn">
                                    <div class="call-btn-1">
                                        <i class="fe fe-phone mr-1"></i> Call
                                    </div>
                                    <div class="call-number">
                                        +65 847596 82
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-xl-4 mt-5">
                    <div class="creategig">
                        <div class="crgig">
                            <a href="/dashboard/doctor/create-gigs">
                                <img src="../assets/images/plus.png" class="img-fluid" alt="">
                            </a>
                            <span>Create a Gig</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>