<div class="card mb-5">
    <div class="card-header">
        <h3 class="card-title">1. Tip for patient</h3>
    </div>
    <div class="card-body">
        <ul class="tipsbox">
            <li>usantium doloremque laudantium </li>
            <li>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
                auctor, </li>
            <li>nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
        </ul>
    </div>
</div>
<div class="card mb-5">
    <div class="card-header">
        <h3 class="card-title">2. Tip for patient</h3>
    </div>
    <div class="card-body">
        <ul class="tipsbox">
            <li>usantium doloremque laudantium </li>
            <li>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
                auctor, </li>
            <li>nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
            <li class="hd">usantium doloremque laudantium </li>
            <li class="hd">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
                bibendum auctor, </li>
            <li class="hd">nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
        </ul>
    </div>
    <div class="card-footer">
        <h3 class="card-title text-center"><a href="javascript:void(0)" class="text-danger vmbtn">View More</a></h3>
    </div>
</div>
<div class="card mb-0">
    <div class="card-header">
        <h3 class="card-title">3. Tip for patient</h3>
    </div>
    <div class="card-body">
        <div class="row tipimgbx">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 mb-5">
                <div class="tipimg">
                    <img src="../assets/images/dimg.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 mb-5">
                <div class="tipimg">
                    <img src="../assets/images/dimg.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 mb-5">
                <div class="tipimg">
                    <img src="../assets/images/dimg.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <ul class="tipsbox">
            <li>usantium doloremque laudantium </li>
            <li>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
                auctor, </li>
            <li>nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
            <li class="hd">usantium doloremque laudantium </li>
            <li class="hd">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
                bibendum auctor, </li>
            <li class="hd">nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
        </ul>
    </div>
    <div class="card-footer">
        <h3 class="card-title text-center"><a href="javascript:void(0)" class="text-danger  vmbtn">View More</a></h3>
    </div>
</div>