<!-- <section class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-12 col-md-12">
                <app-doctor-dashboard-sidebar></app-doctor-dashboard-sidebar>
            </div>
            <div class="col-xl-9 col-lg-12 col-md-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section> -->

<section class="sptb dashpad">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-12 col-md-12">
                <app-doctor-dashboard-sidebar></app-doctor-dashboard-sidebar>
            </div>
            <div class="col-xl-9 col-lg-12 col-md-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>