<section>
    <div class="bannerpd bg-white">
        <div class="border-bottom">
            <div class="container">
                <div class="page-header">
                    <h4 class="page-title">Success Message</h4>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="sptb confirmbox">
    <div class="container customerpage">
        <div class="row">
            <div class="single-page">
                <div class="col-lg-6 col-xl-6 col-md-6 d-block mx-auto">
                    <div class="wrapper wrapper2">

                        <div class="card-body">
                            <div class="imgholder">
                                <img src="../assets/images/confirm_img.png" class="img-fluid" alt="">
                            </div>
                            <h2>Your Submission was received!</h2>
                            <p>Thanks for the message.</p>
                            <div class="submit">
                                <a class="btn btn-danger btn-block" href="javascript:void(0)" [routerLink]="['/']"
                                    routerLinkActive="router-link-active">Back to
                                    Homepage</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>