<section class="successformcheck bg-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="successcont">
                <img src="../assets/images/successcheck.gif" class="img-fluid" alt="">
                <h4>Congratulations!</h4>
                <p>Your Ad will go live shortly...</p>
                <p>You will get your account merged soon</p>
                <a href="javascript:void(0)" routerLink="/classified/post/list" class="btn btn-danger gradient"><span>Preview Ad</span></a>
                </div>
            </div>
        </div>
    </div>

</section>
