<div class="bg-white faqb contact-banner htw">
	<div class="mt-0">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 text-center">
					<h3>Terms and Conditions</h3>

				</div>
			</div>
		</div>
	</div>

	<!--Section-->
	<section class="sptb pt-4 term_sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
					<div class="contentbx">
						<h4 class="mb-3 mt-0">Website Description</h4>
						<p>This is a multi-vendor marketplace for professionals from the media and publishing industry.
							The
							platform was built to provide creatives direct access to each other so that employers can
							find
							the
							right talent for their projects and professionals and talent can get the exposure they need.
						</p>

						<p>By eliminating the need for agencies and third parties, this marketplace makes the hiring
							process
							a
							lot more efficient.</p>
					</div>
					<div class="contentbx">
						<h4 class="mb-3 mt-6">Terms and Conditions</h4>

						<p>NoOne 21’s mission is to create a seamless experience for creatives. We offer site services
							such
							as
							hosting the website and performing required maintenance to ensure that it is optimized for
							the
							users.</p>

						<p>However, we do not take responsibility for the quality of work being offered by professionals
							nor
							payment from employers.It is up to the users discretion to conduct all required research
							before
							entering into a commitment with anyone.</p>

						<p>Furthermore, the platform will not find jobs for talent nor actively suggest talent to
							employers
							for
							a job. It is up to the two parties involved to conduct required research and find suitable
							work
							partners.</p>

						<p>We also do not intervene on behalf of anyone to resolve any payment or refund issues. Both
							parties
							should come to a mutual understanding before carrying out any monetary transaction or
							exchange
							of
							services. Professionals and employers are advised to communicate clearly from the start and
							show
							due
							diligence when making any commitment.</p>

						<p>NoOne 21 does not provide the premises at which the work is conducted nor is it involved in
							any
							way
							with that process and decision making. That decision lies with employers and project owners
							and
							takes place independent of any involvement of NoOne21.</p>

						<p>If you are an employer posting a job on NoOne 21 you are accepting complete and unconditional
							responsibility to see to it that the talent you have hired is paid by you or your agency as
							per
							your
							agreement with the talent.</p>

						<p>Users of this platform are not employees or agents of NoOne 21. We do not supervise, direct,
							or
							are
							party to any agency, employer, or talent that chooses to work on this platform.</p>

						<p>NoOne 21 does not discourage users from using any other platform or means to find relevant
							work
							or
							talent. Nothing in the terms of use should be seen or construed as being discouraging or
							prohibiting
							in the pursuit of finding opportunities elsewhere.</p>


					</div>
					<div class="contentbx">
						<h4 class="mb-3 mt-6">User Profiles</h4>

						<p>To join this platform users are required to create a profile and register themselves. By
							creating
							a profile the user agrees to using this platform and publishing their profile on NoOne 21.
							The
							use of this platform and creation of a profile implies that you agree to providing true and
							accurate information about yourself and your professional experience not just in your
							profile
							but in any forms you fill or information you share on this platform. </p>
					</div>
					<div class="contentbx">
						<h4 class="mb-3 mt-6">Account Permissions </h4>

						<p>Users may not allow any individual to create an account on their behalf or for their benefit.
							Accounts are only to be created by those individuals whose information and identity is being
							shared on the profile or in some cases by authorized individuals from NoOne 21’s support
							team by
							way of offering assistance to troubleshoot a problem being faced during account and profile
							creation by the user. </p>
					</div>
					<div class="contentbx">
						<h4 class="mb-3 mt-6">Verification</h4>

						<p>Users agree to verify their accounts, email addresses, and the information provided as and
							when
							required by NoOne 21. Without verification, user profiles might be prohibited from being
							published
							publicly.</p>

						<p>NoOne 21 reserves the right to limit or prohibit a user’s access to the website if their
							actions are
							found to be in violation of any of the terms stated above.</p>
						<p>Users of the website are requested to keep themselves updated with any new additions to the
							terms
							and conditions. All revisions/additions will be recorded on this page.</p>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!--/Section-->

</div>