<div class="pt6 healthbanner bg-white">
    <div class="hbannerimg">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <img src="../assets/images/bbanner.png" class="img-fluid" alt="">
                    <div class="hbannerm">
                        <div class="hbannermid">
                            <div class="hbannerin">

                                <div class="row justify-content-end">
                                    <div class="col-xl-6 col-lg-6 col-md-12">

                                        <h2>Industry Tips<br>
                                            By Experts</h2>
                                        <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.<br>
                                            Aenean sollicitudin, lorem quis bibendum auctor, nisi elit </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

<section class="healthblog bg-white">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h2>Extend the power of the world’s best<br>
                    and Industry by tips from experts</h2>
            </div>
            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12">
                <div class="healthbox">
                    <a href="/pages/health-tips-inner">
                        <div class="himg">
                            <img src="../assets/images/1b.png" class="img-fluid" alt="">
                        </div>
                        <h4>Fintness & Health 
                            tips</h4>
                            <p>This is Photoshop's version  of 
                                Lorem Ipsum. Proin gravida nibh 
                                vel velit auctor aliquet. 
                                Aenean sollicitudin, lorem quis 
                                bibendum auctor, nisi elit 
                                consequat ipsum, </p>
                                <span>Learn More</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12">
                <div class="healthbox">
                    <a href="/pages/health-tips-inner">
                        <div class="himg">
                            <img src="../assets/images/2b.png" class="img-fluid" alt="">
                        </div>
                        <h4>Fintness & Health 
                            tips</h4>
                            <p>This is Photoshop's version  of 
                                Lorem Ipsum. Proin gravida nibh 
                                vel velit auctor aliquet. 
                                Aenean sollicitudin, lorem quis 
                                bibendum auctor, nisi elit 
                                consequat ipsum, </p>
                                <span>Learn More</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12">
                <div class="healthbox">
                    <a href="/pages/health-tips-inner">
                        <div class="himg">
                            <img src="../assets/images/3b.png" class="img-fluid" alt="">
                        </div>
                        <h4>Fintness & Health 
                            tips</h4>
                            <p>This is Photoshop's version  of 
                                Lorem Ipsum. Proin gravida nibh 
                                vel velit auctor aliquet. 
                                Aenean sollicitudin, lorem quis 
                                bibendum auctor, nisi elit 
                                consequat ipsum, </p>
                                <span>Learn More</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12">
                <div class="healthbox">
                    <a href="/pages/health-tips-inner">
                        <div class="himg">
                            <img src="../assets/images/4b.png" class="img-fluid" alt="">
                        </div>
                        <h4>Fintness & Health 
                            tips</h4>
                            <p>This is Photoshop's version  of 
                                Lorem Ipsum. Proin gravida nibh 
                                vel velit auctor aliquet. 
                                Aenean sollicitudin, lorem quis 
                                bibendum auctor, nisi elit 
                                consequat ipsum, </p>
                                <span>Learn More</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12">
                <div class="healthbox">
                    <a href="/pages/health-tips-inner">
                        <div class="himg">
                            <img src="../assets/images/5b.png" class="img-fluid" alt="">
                        </div>
                        <h4>Fintness & Health 
                            tips</h4>
                            <p>This is Photoshop's version  of 
                                Lorem Ipsum. Proin gravida nibh 
                                vel velit auctor aliquet. 
                                Aenean sollicitudin, lorem quis 
                                bibendum auctor, nisi elit 
                                consequat ipsum, </p>
                                <span>Learn More</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12">
                <div class="healthbox">
                    <a href="/pages/health-tips-inner">
                        <div class="himg">
                            <img src="../assets/images/6b.png" class="img-fluid" alt="">
                        </div>
                        <h4>Fintness & Health 
                            tips</h4>
                            <p>This is Photoshop's version  of 
                                Lorem Ipsum. Proin gravida nibh 
                                vel velit auctor aliquet. 
                                Aenean sollicitudin, lorem quis 
                                bibendum auctor, nisi elit 
                                consequat ipsum, </p>
                                <span>Learn More</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12">
                <div class="healthbox">
                    <a href="/pages/health-tips-inner">
                        <div class="himg">
                            <img src="../assets/images/7b.png" class="img-fluid" alt="">
                        </div>
                        <h4>Fintness & Health 
                            tips</h4>
                            <p>This is Photoshop's version  of 
                                Lorem Ipsum. Proin gravida nibh 
                                vel velit auctor aliquet. 
                                Aenean sollicitudin, lorem quis 
                                bibendum auctor, nisi elit 
                                consequat ipsum, </p>
                                <span>Learn More</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12">
                <div class="healthbox">
                    <a href="/pages/health-tips-inner">
                        <div class="himg">
                            <img src="../assets/images/8b.png" class="img-fluid" alt="">
                        </div>
                        <h4>Fintness & Health 
                            tips</h4>
                            <p>This is Photoshop's version  of 
                                Lorem Ipsum. Proin gravida nibh 
                                vel velit auctor aliquet. 
                                Aenean sollicitudin, lorem quis 
                                bibendum auctor, nisi elit 
                                consequat ipsum, </p>
                                <span>Learn More</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>