<div class="side-app dashpg">
    <!-- <div class="page-header mt-3">
        <h4 class="page-title">Dashboard 01</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard 01</li>
        </ol>
    </div> -->

    <div class="row sptb mry23 mb-0">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 ">
            <div class="card overflow-hidden">
                <div class="card-header">
                    <h3 class="card-title">Vendors</h3>
                    <div class="card-options"> <a class="btn btn-sm btn-primary" href="javascript:void(0);">View</a>
                    </div>
                </div>
                <div class="card-body ">
                    <h2 class="text-dark  mt-0 ">4,627</h2>
                    <div class="progress progress-sm mt-0 mb-2">
                        <div class="progress-bar bg-primary w-75" role="progressbar"></div>
                    </div>
                    <div class=""><i class="fa fa-caret-up text-green"></i>10% increases</div>
                </div>
            </div>
        </div>
        <div class=" col-sm-12 col-md-6 col-lg-6 col-xl-3">
            <div class="card overflow-hidden">
                <div class="card-header">
                    <h3 class="card-title">Buyers</h3>
                    <div class="card-options"> <a class="btn btn-sm btn-secondary" href="javascript:void(0);">View</a>
                    </div>
                </div>
                <div class="card-body ">

                    <h2 class="text-dark  mt-0 ">2,591</h2>
                    <div class="progress progress-sm mt-0 mb-2">
                        <div class="progress-bar bg-secondary w-45" role="progressbar"></div>
                    </div>
                    <div class=""><i class="fa fa-caret-down text-danger"></i>12% increase</div>
                </div>
            </div>
        </div>
        <div class=" col-sm-12 col-md-6 col-lg-6 col-xl-3">
            <div class="card overflow-hidden">
                <div class="card-header">
                    <h3 class="card-title">Appointments</h3>
                    <div class="card-options"> <a class="btn btn-sm btn-danger" href="javascript:void(0);">View</a>
                    </div>
                </div>
                <div class="card-body ">

                    <h2 class="text-dark  mt-0 ">3,517</h2>
                    <div class="progress progress-sm mt-0 mb-2">
                        <div class="progress-bar bg-warning w-50" role="progressbar"></div>
                    </div>
                    <div class=""><i class="fa fa-caret-down text-danger"></i>5% increase</div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 ">
            <div class="card overflow-hidden">
                <div class="card-header">
                    <h3 class="card-title">Queries</h3>
                    <div class="card-options"> <a class="btn btn-sm btn-success" href="javascript:void(0);">View</a>
                    </div>
                </div>
                <div class="card-body ">

                    <h2 class="text-dark  mt-0  ">$5,759</h2>
                    <div class="progress progress-sm mt-0 mb-2">
                        <div class="progress-bar bg-success w-25" role="progressbar"></div>
                    </div>
                    <div class=""><i class="fa fa-caret-up text-success"></i>15% increase</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 text-center mt-3 mb-5">
            <h3>Welcome to No121 dashboard</h3>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-xl-8 col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Last Year Overview</h3>
                </div>
                <div class="card-body">
                    <div class="chart-wrapper">
                        <canvas id="sales-status" class="chart-dropshadow h-280"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Lastest Ads</h3>
                </div>
                <div class="card-body">
                    <div class="activity">
                        <img src="../assets/images/users/male/16.jpg" alt="" class="img-activity">
                        <div class="time-activity">
                            <div class="item-activity">
                                <p class="mb-0"><b>Adam Berry</b> Add a new posts <b>Hospitals</b></p>
                                <small class="text-muted ">30 mins ago</small>
                            </div>
                        </div>
                        <img src="../assets/images/users/female/10.jpg" alt="" class="img-activity">
                        <div class="time-activity">
                            <div class="item-activity">
                                <p class="mb-0"><b>Adam Berry</b> Add a new posts <b> Pharmacies</b></p>
                                <small class="text-muted ">1 days ago</small>
                            </div>
                        </div>
                        <img src="../assets/images/users/male/4.jpg" alt="" class="img-activity">
                        <div class="time-activity">
                            <div class="item-activity">
                                <p class="mb-0"><b>Adam Berry</b> Add a new posts <b> <br> Clinics</b></p>
                                <small class="text-muted ">3 days ago</small>
                            </div>
                        </div>
                        <img src="../assets/images/users/female/8.jpg" alt="" class="img-activity">
                        <div class="time-activity mb-0">
                            <div class="item-activity mb-0">
                                <p class="mb-0"><b>Adam Berry</b> Add a new posts <b> <br>Doctors</b></p>
                                <small class="text-muted ">5 days ago</small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <!-- <div class="row">
        <div class="col-xl-4 col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Hospital Review</h3>
                </div>
                <div class="card-body">
                    <div class="chats-wrap">
                        <div class="chat-details p-2">
                            <h6 class="mb-0">
                                <span class="font-weight-Automatic">Good</span>
                                <span class="float-right p-1">78%</span>
                            </h6>
                            <div class="progress progress-sm mt-3">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success w-35">
                                </div>
                            </div>
                        </div>
                        <div class="chat-details p-2">
                            <h6 class="mb-0">
                                <span class="font-weight-Automatic">Satisfied</span>
                                <span class="float-right p-1">82%</span>
                            </h6>
                            <div class="progress progress-sm mt-3">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary w-75">
                                </div>
                            </div>
                        </div>
                        <div class="chat-details p-2">
                            <h6 class="mb-0">
                                <span class="font-weight-Automatic">Excellent</span>
                                <span class="float-right p-1">89%</span>
                            </h6>
                            <div class="progress progress-sm mt-3">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary w-65">
                                </div>
                            </div>
                        </div>
                        <div class="chat-details p-2">
                            <h6 class="mb-0">
                                <span class="font-weight-Automatic">Average</span>
                                <span class="float-right p-1">40%</span>
                            </h6>
                            <div class="progress progress-sm mt-3">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning w-80">
                                </div>
                            </div>
                        </div>
                        <div class="chat-details p-2">
                            <h6 class="mb-0">
                                <span class="font-weight-Automatic">Unsatisfied</span>
                                <span class="float-right p-1">20%</span>
                            </h6>
                            <div class="progress progress-sm mt-3">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info w-80">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Hospital Team</div>
                </div>
                <div class="card-body">
                    <div class="ibox teams mb-30 bg-boxshadow">
                        <div class="ibox-content teams">
                            <div class="avatar-list avatar-list-stacked">
                                <span class="avatar brround cover-image cover-image"
                                    data-image-src="../assets/images/users/female/12.jpg"></span>
                                <span class="avatar brround cover-image cover-image"
                                    data-image-src="../assets/images/users/female/21.jpg"></span>
                                <span class="avatar brround cover-image cover-image"
                                    data-image-src="../assets/images/users/female/29.jpg"></span>
                                <span class="avatar brround cover-image cover-image"
                                    data-image-src="../assets/images/users/female/2.jpg"></span>
                                <span class="avatar brround cover-image cover-image"
                                    data-image-src="../assets/images/users/male/34.jpg"></span>
                                <span class="avatar brround cover-image cover-image">+8</span>
                            </div>
                            <div class="teams-board-details mt-3">
                                <h4 class="font-weight-semibold">About Hospital Team</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam
                                    veniam excepturi. Contrary to popular belief, Lorem Ipsum is not simply random
                                    text classical Latin </p>
                            </div>
                            <span class="font-weight-semibold">Status of current Earnings:</span>
                            <div class="progress-details-teams mt-2 mb-4">
                                <div class="stat-percent mb-2">78%</div>
                                <div class="progress progress-sm ">
                                    <div class="progress-bar bg-primary w-50" role="progressbar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="row">
        <div class="col-xl-4 col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Todo List</h3>
                    <div class="card-options">
                        <a class="btn btn-sm btn-primary " href="javascript:void(0);"><i class="fa fa-plus"></i> Add
                            Task</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="custom-controls-stacked checklist-task">
                        <label class="custom-control custom-checkbox mb-3 checklist-desc">
                            <input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1"
                                checked="">
                            <span class="custom-control-label">vero eos et accusamus et iusto odio dignissimos
                                ducimus</span>
                            <div class="check-data d-flex mt-1">
                                <span class="text-muted">Completed 2h ago</span>
                                <div class="check-icon ml-auto">
                                    <span class="text-muted" data-toggle="tooltip" data-placement="top"
                                        data-original-title="Edit"><i class="fa fa-pencil-square-o "></i> </span>
                                    <span class="text-muted" data-toggle="tooltip" data-placement="top"
                                        data-original-title="Delete"><i class="fa fa-trash-o"></i></span>
                                </div>
                            </div>
                        </label>
                        <label class="custom-control custom-checkbox mb-3 checklist-desc">
                            <input type="checkbox" class="custom-control-input" name="example-checkbox2"
                                value="option2">
                            <span class="custom-control-label"> et iusto odio dignissimos ducimus</span>
                            <div class="check-data d-flex mt-1">
                                <span class="text-muted">Completed 8h ago</span>
                                <div class="check-icon ml-auto">
                                    <span class="text-muted" data-toggle="tooltip" data-placement="top"
                                        data-original-title="Edit"><i class="fa fa-pencil-square-o "></i> </span>
                                    <span class="text-muted" data-toggle="tooltip" data-placement="top"
                                        data-original-title="Delete"><i class="fa fa-trash-o"></i></span>
                                </div>
                            </div>
                        </label>
                        <label class="custom-control custom-checkbox mb-3 checklist-desc">
                            <input type="checkbox" class="custom-control-input" name="example-checkbox3" value="option3"
                                checked="">
                            <span class="custom-control-label"> eos accusamus iusto odio dignissimos </span>
                            <div class="check-data d-flex mt-1">
                                <span class="text-muted">Completed 4h ago</span>
                                <div class="check-icon ml-auto">
                                    <span class="text-muted" data-toggle="tooltip" data-placement="top"
                                        data-original-title="Edit"><i class="fa fa-pencil-square-o "></i> </span>
                                    <span class="text-muted" data-toggle="tooltip" data-placement="top"
                                        data-original-title="Delete"><i class="fa fa-trash-o"></i></span>
                                </div>
                            </div>
                        </label>
                        <label class="custom-control custom-checkbox checklist-desc">
                            <input type="checkbox" class="custom-control-input" name="example-checkbox4"
                                value="option4">
                            <span class="custom-control-label">vet accusamus et iusto odio dignissimos </span>
                            <div class="check-data d-flex mt-1">
                                <span class="text-muted">Completed 5h ago</span>
                                <div class="check-icon ml-auto">
                                    <span class="text-muted" data-toggle="tooltip" data-placement="top"
                                        data-original-title="Edit"><i class="fa fa-pencil-square-o "></i> </span>
                                    <span class="text-muted" data-toggle="tooltip" data-placement="top"
                                        data-original-title="Delete"><i class="fa fa-trash-o"></i></span>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="card">
                <div class="item-card7-img">
                    <div class="item-card7-imgs">
                        <a href="javascript:void(0);"></a>
                        <img src="../assets/images/media/0-23.jpg" alt="img" class="cover-image">
                    </div>
                </div>
                <div class="card-body">
                    <div class="item-card7-desc">
                        <a href="javascript:void(0);" class="text-dark">
                            <h4 class="font-weight-semibold">Newlife Hospital</h4>
                        </a>
                    </div>
                    <div class="item-card7-text">
                        <ul class="icon-card mb-0">
                            <li class=""><a href="javascript:void(0);" class="icons"><i
                                        class="icon icon-location-pin text-muted mr-1"></i> Los Angles</a></li>
                            <li><a href="javascript:void(0);" class="icons"><i
                                        class="icon icon-event text-muted mr-1"></i> 5 hours
                                    ago</a></li>
                            <li class="mb-0"><a href="javascript:void(0);" class="icons"><i
                                        class="icon icon-user text-muted mr-1"></i> Sally Peake</a></li>
                            <li class="mb-0"><a href="javascript:void(0);" class="icons"><i
                                        class="icon icon-phone text-muted mr-1"></i> 567 9876 087</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="card">
                <div class="item-card7-img">
                    <div class="item-card7-imgs">
                        <a href="javascript:void(0);"></a>
                        <img src="../assets/images/media/0-23.jpg" alt="img" class="cover-image">
                    </div>
                </div>
                <div class="card-body">
                    <div class="item-card7-desc">
                        <a href="javascript:void(0);" class="text-dark">
                            <h4 class="font-weight-semibold">Wave Hospital</h4>
                        </a>
                    </div>
                    <div class="item-card7-text">
                        <ul class="icon-card mb-0">
                            <li class=""><a href="javascript:void(0);" class="icons"><i
                                        class="icon icon-location-pin text-muted mr-1"></i> Los Angles</a></li>
                            <li><a href="javascript:void(0);" class="icons"><i
                                        class="icon icon-event text-muted mr-1"></i> 5 hours
                                    ago</a></li>
                            <li class="mb-0"><a href="javascript:void(0);" class="icons"><i
                                        class="icon icon-user text-muted mr-1"></i> Sally Peake</a></li>
                            <li class="mb-0"><a href="javascript:void(0);" class="icons"><i
                                        class="icon icon-briefcase text-muted mr-1"></i>Beauty Span</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>