    <!--Section-->
    <div class="chbg">
	<section class="sptb abpad channelbanner">
		<div class="container">
			<div class="row">
				<div class="col-xl-7 col-lg-7 col-md-12">
					<div class="textsect">
						<h2 class="mb-4">The Latest in Pakistani Television Shows and Dramas, All That’s On-Air  </h2>
						<p class="mb-0">**All logos and company names are trademarks™ of their respective holders. Use of them does not imply any affiliation with or endorsement by them. NoOne 21 is solely a media marketplace.</p>
					</div>
				</div>
			
			</div>
		</div>
    </section>
    </div>

    <!-- General Entertainment section -->

    <section class="generalent sptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2>General Entertainment</h2>
                </div>
            </div>

            <div class="row channelblk">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h3>Urdu</h3>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/URDU/ARY.png" class="img-fluid" alt="">
                          <strong>ARY Zindagi</strong>
                      </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/URDU/APLUS.png" class="img-fluid" alt="">
                          <strong>A-Plus Entertainment</strong>
                      </a>
                    </div>
                </div>       
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/URDU/AAJ.png" class="img-fluid" alt="">
                          <strong>Aaj Entertainment</strong>
                      </a>
                    </div>
                </div>  
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/URDU/ARY-DIGITAL.png" class="img-fluid" alt="">
                          <strong>ARY Digital</strong>
                      </a>
                    </div>
                </div> 
              <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/URDU/ATV.png" class="img-fluid" alt="">
                          <strong>ATV</strong>
                      </a>
                    </div>
                </div> 
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/URDU/BOL.png" class="img-fluid" alt="">
                          <strong>BOL Entertainment (HD)</strong>
                      </a>
                    </div>
                </div>            
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/URDU/DHOOM-TV.png" class="img-fluid" alt="">
                          <strong>Dhoom TV</strong>
                      </a>
                    </div>
                </div>  
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/URDU/EXPRESS.png" class="img-fluid" alt="">
                          <strong>Express Entertainment</strong>
                      </a>
                    </div>
                </div>   
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/URDU/GEO.png" class="img-fluid" alt="">
                          <strong>Geo Entertainment</strong>
                      </a>
                    </div>
                </div>   
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/URDU/HUM.png" class="img-fluid" alt="">
                          <strong>Hum TV (HD)</strong>
                      </a>
                    </div>
                </div>   
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/URDU/SITARY.png" class="img-fluid" alt="">
                          <strong>Hum Sitaray</strong>
                      </a>
                    </div>
                </div>  
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/URDU/H-NOW.png" class="img-fluid" alt="">
                          <strong>H Now Entertainment</strong>
                      </a>
                    </div>
                </div>   
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/URDU/INDUS-TV.png" class="img-fluid" alt="">
                          <strong>Indus TV</strong>
                      </a>
                    </div>
                </div>  
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/URDU/INDUSTV.png" class="img-fluid" alt="">
                          <strong>Indus Vision</strong>
                      </a>
                    </div>
                </div>   
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/URDU/LTN.png" class="img-fluid" alt="">
                          <strong>LTN Family</strong>
                      </a>
                    </div>
                </div>           
                 <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/URDU/PLAY-ENTERTAINMENT.png" class="img-fluid" alt="">
                          <strong>Play Entertainment</strong>
                      </a>
                    </div>
                </div>   
                 <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/URDU/PTV-HOME.png" class="img-fluid" alt="">
                          <strong>PTV Home</strong>
                      </a>
                    </div>
                </div>   
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/URDU/PTV-GLOBAL.png" class="img-fluid" alt="">
                          <strong>PTV Global</strong>
                      </a>
                    </div>
                </div>                
                 <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/URDU/PTV-NATIONAL.png" class="img-fluid" alt="">
                          <strong>PTV National (Multi-languages)</strong>
                      </a>
                    </div>
                </div>   
                 <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/URDU/TV-ONE.png" class="img-fluid" alt="">
                          <strong>TV One</strong>
                      </a>
                    </div>
                </div>    
                 <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/URDU/URDU-1.png" class="img-fluid" alt="">
                          <strong>Urdu 1</strong>
                      </a>
                    </div>
                </div> 
             
            
            </div>

            <div class="row channelblk">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h3 class=" border-top">Punjabi</h3>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/PUNJABI/PUNJAB-TV.png" class="img-fluid" alt="">
                          <strong>Punjab TV</strong>
                      </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/PUNJABI/APNA.png" class="img-fluid" alt="">
                          <strong>Apna Channel</strong>
                      </a>
                    </div>
                </div>  
              

            </div>  

            <div class="row channelblk">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h3 class=" border-top">Sindhi</h3>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/SINDHI/KTN.png" class="img-fluid" alt="">
                          <strong>KTN</strong>
                      </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/SINDHI/SINDH-TV.png" class="img-fluid" alt="">
                          <strong>Sindh TV</strong>
                      </a>
                    </div>
                </div>    
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/SINDHI/AWAZ.png" class="img-fluid" alt="">
                          <strong>Awaz TV</strong>
                      </a>
                    </div>
                </div>    
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/SINDHI/Untitled-2.png" class="img-fluid" alt="">
                          <strong>Dharti TV</strong>
                      </a>
                    </div>
                </div>  
              

            </div> 
            
            <div class="row channelblk">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h3 class=" border-top">Pushto</h3>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/PUSHTO/KHYBER.png" class="img-fluid" alt="">
                          <strong>AVT Khyber</strong>
                      </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/PUSHTO/HUM-PUSHTO.png" class="img-fluid" alt="">
                          <strong>Hum Pashto 1</strong>
                      </a>
                    </div>
                </div>
                 <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/PUSHTO/Aruj-TV.png" class="img-fluid" alt="">
                          <strong>Aruj TV</strong>
                      </a>
                    </div>
                </div>    
               
              

            </div>   
            
            
            <div class="row channelblk">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h3 class=" border-top">Balochi</h3>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/BALOCHI/PTV-BOLAN.png" class="img-fluid" alt="">
                          <strong>PTV Bolan</strong>
                      </a>
                    </div>
                </div>

            </div>  
            
            <div class="row channelblk">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h3 class=" border-top">Saraiki</h3>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/SARAIKI/KOOK-TV.png" class="img-fluid" alt="">
                          <strong>Kook TV</strong>
                      </a>
                    </div>
                </div>

            </div>    
            
            <div class="row channelblk">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h3 class=" border-top">Hindko / Pothohari</h3>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/HINDKO/K2-TV.png" class="img-fluid" alt="">
                          <strong>Kay 2 TV</strong>
                      </a>
                    </div>
                </div>

            </div>      
            
            <div class="row channelblk">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h3 class=" border-top">Kashmir / Gilgit Baltistan</h3>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/General-Entertainment/KASHMIRI/AJK-TV.png" class="img-fluid" alt="">
                          <strong>AJK TV</strong>
                      </a>
                    </div>
                </div>

            </div>

            <div class="row channelblk newchannel">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2 class=" border-top">News Channels</h2>
                    <h3>Urdu News</h3>
                </div>
               
                
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/SAMAA.png" class="img-fluid" alt="">
                          <strong>Samaa TV</strong>
                      </a>
                    </div>
                </div> 
                
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/7NEWS.png" class="img-fluid" alt="">
                          <strong>7 News (HD)</strong>
                      </a>
                    </div>
                </div>
  
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/24-NEWSD.png" class="img-fluid" alt="">
                          <strong>24 News HD</strong>
                      </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/92-NEWS.png" class="img-fluid" alt="">
                          <strong>92 News (HD Plus)</strong>
                      </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/AAJ.png" class="img-fluid" alt="">
                          <strong>Aaj News</strong>
                      </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/ABB-TAK.png" class="img-fluid" alt="">
                          <strong>Abb Takk News</strong>
                      </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/ARY.png" class="img-fluid" alt="">
                          <strong>ARY News</strong>
                      </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/BOL.png" class="img-fluid" alt="">
                          <strong>BOL News (4K)</strong>
                      </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/CAPITAL.png" class="img-fluid" alt="">
                          <strong>Capital TV</strong>
                      </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/5.png" class="img-fluid" alt="">
                          <strong>Channel 5</strong>
                      </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/41.png" class="img-fluid" alt="">
                          <strong>City 41</strong>
                      </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/42.png" class="img-fluid" alt="">
                          <strong>City 42</strong>
                      </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/DAWN.png" class="img-fluid" alt="">
                          <strong>Dawn News</strong>
                      </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/DIN.png" class="img-fluid" alt="">
                          <strong>Din News HD</strong>
                      </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/DUNYA.png" class="img-fluid" alt="">
                          <strong>Dunya News</strong>
                      </a>
                    </div>
                </div>       
                        <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/EXPRESS.png" class="img-fluid" alt="">
                          <strong>Express News</strong>
                      </a>
                    </div>
                </div>                    
                
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/GEO.png" class="img-fluid" alt="">
                          <strong>Geo News</strong>
                      </a>
                    </div>
                </div>  

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/TEZZ.png" class="img-fluid" alt="">
                          <strong>Geo Tez</strong>
                      </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/GNN.png" class="img-fluid" alt="">
                          <strong>GNN (HD)</strong>
                      </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/HUMNEWS.png" class="img-fluid" alt="">
                          <strong>Hum News (HD)</strong>
                      </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/LHR.png" class="img-fluid" alt="">
                          <strong>Lahore News (HD)</strong>
                      </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/NEO.png" class="img-fluid" alt="">
                          <strong>Neo TV HDc</strong>
                      </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/NEWS-ONE.png" class="img-fluid" alt="">
                          <strong>News One</strong>
                      </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/PTV-NEWS.png" class="img-fluid" alt="">
                          <strong>PTV News</strong>
                      </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/SUCH.png" class="img-fluid" alt="">
                          <strong>Such TV</strong>
                      </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/PUBLIC.png" class="img-fluid" alt="">
                          <strong>Public News (HD)</strong>
                      </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/ROHI.png" class="img-fluid" alt="">
                          <strong>Rohi</strong>
                      </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/URDU/METRO.png" class="img-fluid" alt="">
                          <strong>Metro1 News</strong>
                      </a>
                    </div>
                </div>

              
            </div>

            <div class="row channelblk">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h3 class=" border-top">Punjabi News</h3>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/PUNJABI/APNA.png" class="img-fluid" alt="">
                          <strong>Apna News</strong>
                      </a>
                    </div>
                </div>

            </div>        
            
            <div class="row channelblk">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h3 class=" border-top">Sindhi News</h3>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/SINDHI/AWAMI.png" class="img-fluid" alt="">
                          <strong>Awami Awaz TV</strong>
                      </a>
                    </div>
                </div>               
                 <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/SINDHI/KTN.png" class="img-fluid" alt="">
                          <strong>KTN News</strong>
                      </a>
                    </div>
                </div>

            </div>        
            
            
            <div class="row channelblk">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h3 class=" border-top">Pushto News</h3>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/PUSHTO/KHYBER.png" class="img-fluid" alt="">
                          <strong>Khyber News</strong>
                      </a>
                    </div>
                </div>               
                 <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/PUSHTO/MASHRIQ.png" class="img-fluid" alt="">
                          <strong>Mashriq TV</strong>
                      </a>
                    </div>
                </div>

            </div>   

            <div class="row channelblk">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h3 class=" border-top">Balochi News</h3>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/BALOCHI/VSH.png" class="img-fluid" alt="">
                          <strong>VSH News</strong>
                      </a>
                    </div>
                </div>               
            </div>

            <div class="row channelblk">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h3 class=" border-top">English News</h3>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/ENGLISH/OXY.png" class="img-fluid" alt="">
                          <strong>BBC South Asia</strong>
                      </a>
                    </div>
                </div>      
                 <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/ENGLISH/CNN.png" class="img-fluid" alt="">
                          <strong>CNN International South Asia</strong>
                      </a>
                    </div>
                </div>           
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/ENGLISH/INDUS.png" class="img-fluid" alt="">
                          <strong>Indus News (4K)</strong>
                      </a>
                    </div>
                </div>            
                 <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/News-Channels/ENGLISH/PTV-WORLD.png" class="img-fluid" alt="">
                          <strong>PTV World</strong>
                      </a>
                    </div>
                </div>               
            </div>

            <div class="row channelblk newchannel">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2 class=" border-top">Sports</h2>
                    <h3></h3>
                </div>
               
                
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/SPORTS/GEO-SUPER.png" class="img-fluid" alt="">
                          <strong>Geo Super</strong>
                      </a>
                    </div>
                </div> 
                               
                
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/SPORTS/PTV-SPORTS.png" class="img-fluid" alt="">
                          <strong>PTV Sports</strong>
                      </a>
                    </div>
                </div>                 
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/SPORTS/TEN.png" class="img-fluid" alt="">
                          <strong>Ten Sports Pakistan</strong>
                      </a>
                    </div>
                </div> 
                
               

            </div>  
            
            
            <div class="row channelblk newchannel">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2 class=" border-top">Children's</h2>
                    <h3></h3>
                </div>
               
                
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/CHILDREN/NICK.png" class="img-fluid" alt="">
                          <strong>Nickelodeon (Pakistani TV channel)</strong>
                      </a>
                    </div>
                </div> 
                                         
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/CHILDREN/CN.png" class="img-fluid" alt="">
                          <strong>Cartoon Network (Pakistani TV channel)</strong>
                      </a>
                    </div>
                </div>      
                
                
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/CHILDREN/POP.png" class="img-fluid" alt="">
                          <strong>Pop (Pakistani TV channel)</strong>
                      </a>
                    </div>
                </div>                 
                

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/CHILDREN/BABY.png" class="img-fluid" alt="">
                          <strong>Baby TV</strong>
                      </a>
                    </div>
                </div>                 

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/CHILDREN/KIDS.png" class="img-fluid" alt="">
                          <strong>Discovery Kids</strong>
                      </a>
                    </div>
                </div> 

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/CHILDREN/KIDS-ZONE.png" class="img-fluid" alt="">
                          <strong>Kid Zone (Pakistani TV channel)</strong>
                      </a>
                    </div>
                </div> 
                               
           
                
               

            </div>


            
            <div class="row channelblk newchannel">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2 class=" border-top">Music</h2>
                    <h3></h3>
                </div>
               
                
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/MUSIC/8XM.png" class="img-fluid" alt="">
                          <strong>8XM</strong>
                      </a>
                    </div>
                </div> 
                               
                
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/MUSIC/ARY.png" class="img-fluid" alt="">
                          <strong>ARY Musik</strong>
                      </a>
                    </div>
                </div>                 
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/MUSIC/JALWA.png" class="img-fluid" alt="">
                          <strong>Jalwa TV</strong>
                      </a>
                    </div>
                </div>     
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/MUSIC/OXY.png" class="img-fluid" alt="">
                          <strong>Oxygene TV</strong>
                      </a>
                    </div>
                </div>                 
                
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/MUSIC/IM.png" class="img-fluid" alt="">
                          <strong>Indus Music</strong>
                      </a>
                    </div>
                </div>     

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/MUSIC/KABOOM.png" class="img-fluid" alt="">
                          <strong>G Kaboom</strong>
                      </a>
                    </div>
                </div> 
                
               

            </div>  

            <div class="row channelblk newchannel">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2 class=" border-top">Food</h2>
                    <h3></h3>
                </div>
                
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/FOOD/Hum-masala.png" class="img-fluid" alt="">
                          <strong>Hum Masala</strong>
                      </a>
                    </div>
                </div> 
            </div>             
            
            <div class="row channelblk newchannel">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2 class=" border-top">Religious</h2>
                    <h3></h3>
                </div>
                
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/RELIGIOUS/ARY-Qtv.png" class="img-fluid" alt="">
                          <strong>ARY Qtv</strong>
                      </a>
                    </div>
                </div>  
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/RELIGIOUS/Haq-TV.png" class="img-fluid" alt="">
                          <strong>Haq TV</strong>
                      </a>
                    </div>
                </div>    
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/RELIGIOUS/Labbaik-TV.png" class="img-fluid" alt="">
                          <strong>Labbaik TV</strong>
                      </a>
                    </div>
                </div>                 
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/RELIGIOUS/Madani-Channel.png" class="img-fluid" alt="">
                          <strong>Madani Channel</strong>
                      </a>
                    </div>
                </div>       
                 <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/RELIGIOUS/Paigham-TV.png" class="img-fluid" alt="">
                          <strong>Paigham TV</strong>
                      </a>
                    </div>
                </div> 

            </div>   

            <div class="row channelblk newchannel">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2 class=" border-top">Education</h2>
                    <h3></h3>
                </div>
                
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/EDUCATION/Raah-TV.png" class="img-fluid" alt="">
                          <strong>Raah TV</strong>
                      </a>
                    </div>
                </div>  
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/EDUCATION/Virtual-University.png" class="img-fluid" alt="">
                          <strong>Virtual University</strong>
                      </a>
                    </div>
                </div>    
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/EDUCATION/National-Geographic-Channel.png" class="img-fluid" alt="">
                          <strong>National Geographic Channel</strong>
                      </a>
                    </div>
                </div>                 
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/EDUCATION/Discovery-Channel.png" class="img-fluid" alt="">
                          <strong>Discovery Channel</strong>
                      </a>
                    </div>
                </div>       
                 <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/EDUCATION/Animal-Planet.png" class="img-fluid" alt="">
                          <strong>Animal Planet</strong>
                      </a>
                    </div>
                </div>          
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/EDUCATION/PTV-Teleschool.png" class="img-fluid" alt="">
                          <strong>PTV Teleschool</strong>
                      </a>
                    </div>
                </div> 

            </div> 

            <div class="row channelblk newchannel">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2 class=" border-top">Movies</h2>
                    <h3></h3>
                </div>
                
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/MOVIES/Filmax.png" class="img-fluid" alt="">
                          <strong>Filmax</strong>
                      </a>
                    </div>
                </div>  
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="channelbox">
                      <a href="#">
                          <img src="../assets/images/channel/MOVIES/FilmWorld.png" class="img-fluid" alt="">
                          <strong>FilmWorld</strong>
                      </a>
                    </div>
                </div>    

            </div>   

                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                  <a href="#" class="btn gradient"><span>LOAD MORE</span></a>
                </div> -->

        </div>
    </section>
